.form-container {
  display: flex;
  justify-content: center;
  padding: 20px 0;

  .form-content-container {
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 450px;
  }
}
