mat-toolbar {
  background-color: var(--mat-sys-primary);
  color: var(--mat-sys-on-primary);
}

.container {
  display: flex;
  justify-content: center;
  width: 100%;
}

.content-container {
  max-width: 748px;
  width: 100%;
}

.title {
  text-align: center;
  margin: 0;
}
